<mat-toolbar class="navbar">
  <div class="nav-left">
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="top-link active">Dashboard</a>
    <a class="top-link" routerLink="/users" routerLinkActive="active-link">Users</a>
    <a class="top-link" routerLink="/settings" routerLinkActive="active-link">Settings</a>
  </div>

  <div class="nav-right">
    <button mat-icon-button>
      <mat-icon>notifications_none</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>list_alt</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>mail_outline</mat-icon>
    </button>

    <div class="divider"></div>

    <button mat-icon-button>
      <mat-icon>light_mode</mat-icon>
    </button>

    <div class="profile-box">
      <div class="profile-avatar">M</div>
      <div class="profile-info">
        <a routerLink="/profile" routerLinkActive="active-link"><span class="profile-name">Madhvi</span></a>
        <span class="profile-role">Admin</span>
      </div>
    </div>
  </div>
</mat-toolbar>