<div class="approvals-page">
   <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>


  <div class="page-header">
    <div>
      <h1 class="page-title">Approvals</h1>
      <p class="page-subtitle">
        Review and manage employee travel requests awaiting approval.
      </p>
    </div>
  </div>

    @if (!isLoading && approvals.length > 0) {
      <div class="approval-cards">
       @for (req of approvals; track req.id) {
        <mat-card class="approval-card">
          <mat-card-content>
            <div class="card-header">
              <div>
                <h3>#{{ req.requestNumber }} - {{ req.destination }}</h3>
                <p>Requested by: {{ req.employeeName }} • {{ req.department }}</p>
              </div>
              <span class="status">  {{ req.status.replace('_', ' ') }}</span>
            </div>
            <div class="card-details">
              <div><strong>Travel Dates:</strong> {{ req.startDate }} - {{ req.endDate }}</div>
              <div><strong>Budget:</strong> {{ req.estimatedBudget }}</div>
              <div><strong>Travel Class:</strong> {{ req.travelClass }}</div>
              <div><strong>Purpose:</strong> {{ req.purpose }}</div>
            </div>

            <div class="action-row">
              <a mat-flat-button color="primary" role="button" href="/request-details/{{req.id}}">Review</a>
            </div>
          </mat-card-content>
        </mat-card>
      }
        </div>
  }

</div>