<div class="auth-page">
  <div class="container-fluid">
    <div class="row min-vh-100 justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-5 col-xl-4">
        <mat-card class="auth-card">
          <mat-card-content>
            <div class="text-center mb-4">
              <h1 class="fw-bold mb-4">TripSphere</h1>
              <h3 class="fw-bold mb-2">Login</h3>
              <p class="text-muted mb-0">Access your travel management account</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
                <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
                  Email is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['pattern']">
                  Invalid email format
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
                  Password is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']">
                  Password must be at least 6 characters
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['maxlength']">
                  Password must not exceed 10 characters
                </mat-error>

              </mat-form-field>

              <button mat-raised-button color="primary" class="w-100 auth-btn" type="submit">
                Login
              </button>
            </form>

            <p class="text-center mt-4 mb-0">
              Don't have an account?
              <a routerLink="/register" class="auth-link">Register</a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>